<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Name" value ="Yuliya"/>
    <add key="SurName" value="Buraya"/>
    <add key="Country" value="Belarus"/>
    <add key="PhoneNumber" value="+375257699084"/>
    <add key="Email" value ="buravchik@mail.ru"/>
    <add key="RentalPointSelect" value="Minsk National Airport"/>
    <add key="ReturnPointSelect" value="Minsk National Airport"/>
   </appSettings>
</configuration>